<h1>Users#show</h1>
<%= render "user"%>
<div class="user-post-bio-wrapper">
  <div class="user-bio">
    <h2>Biography</h2>
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <div class="user-post">
    <h2>Recent Posts</h2>
    <div class="user-posts-wrapper">
      <% render "nopost" if @user_posts.empty? %>
      <% @user_posts.each do |user_post| %>
        <div class="user-post-ind-wrapper">
          <div class="post-body">
            <div class="post-title-area">
              <div class="user-post-title-u"><%= user_post.title %></div>
              <div class="user-posts-licom-counter">
                <div class="post-comment">
                  <span>💬</span>
                  <small><%= "#{user_post.comments_counter}" %></small>
                </div>
                <div class="post-like">
                  <span>👍</span>
                  <small><%= "#{user_post.like_counter}" %></small>
                </div>
              </div>
            </div>
            <div class="post-text">
              <p><%= user_post.text.truncate(300) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="user-more-posts">
      <button type="button" class="user-more-posts-btn">
        <%= link_to "See all posts", user_posts_path(@user) %>
      </button>
    </div>
  </div>
</div>
