<h1>Posts#index</h1>
<%= render "users/user", locals: {user: @user } %>
<div class="user-post-bio-wrapper">
  <div class="post-new-index">
    <h2>All Posts</h2>
    <button type="button" class="user-more-posts-btn">
      <%= link_to(new_user_post_path) do %>
        <i class='bx bxs-message-add bx-sm'></i>
      <% end %>
    </button>
  </div>
  
  <div class="user-posts-wrapper">
    <% @posts.each do |post| %>
      <div class="user-post-ind-wrapper">
        <div class="post-title-area">
          <div class="user-post-title"><%= link_to "#{post.title}", user_post_path(@user.id, post.id) %></div>
          <div class="user-posts-licom-counter">
            <div class="post-comment">
              <span>💬</span>
              <small><%= "#{post.comments_counter}" %></small>
            </div>
            <div class="post-like">
              <span>👍</span>
              <small><%= "#{post.like_counter}" %></small>
            </div>
          </div>
        </div>
        <div class="post-text">
          <p><%= post.text.truncate(300) %></p>
        </div>
        <div class="post-comment-section">
          <h3 class="intermediate-heading">Comments</h3>
          <% if post.last_5_comment.empty? %>
            <small>No comments yet</small>
          <% end %>
          <% post.last_5_comment.each do |comment|%>
            <small class="post-comment-avatar">
              <div class="comment-avatar-name">
                <img src="<%= comment.author.photo %>" alt="<%= comment.author.name %>" class="comment-avatar">
                <h4><%= "#{comment.author.name}" %><h4>
              </div>
              <div class="comment-text">
                <%= "#{comment.text.truncate(100)}" %>
              </div>
            </small>
          <% end %>
        </div>
        <div class="user-more-posts post-see-more">
          <button type="button" class="user-more-posts-btn">
            <%= link_to "See more", user_post_path(@user.id, post.id) %>
          </button>
        </div> 
      </div> 
    <% end %>
    <div class="user-more-posts">
      <button type="button" class="user-more-posts-btn">
        <%= link_to "Go back", user_path(@user.id) %>
      </button>
    </div>
  </div>
</div>

